
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
  min-height: 100%;
  /* Center Items
  display: grid;
  place-items: center;
  */
}

h1 {
    margin: 100px 0 40px 0;
}

table{
    margin: auto;
    width: 30%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.width {
    width: 100px;
}

.margin_10 {
    margin: 200px;
}

.size {
    width: 45px;
    height: 45px;
    padding: 7px 10px;
    text-align: center;
}

.login {
  text-align: left;
  margin: 10px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.inline {
    display: inline;
}

/*
img:hover { /* svg on an img tag */
/*
     color: #d9534f;
}
*/


